.edit-sport-image__alert{
    margin-top: 0;
}

.edit-sport-image__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.edit-sport-image__label{
    color: #757575;
}