.clubs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 100%;
    height: calc(100% - 64px);
}

.clubs__add{
    z-index: 100;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.clubs__municipality{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 25%;
    margin-top: 3vh;
    margin-left: 3%;
}

.clubs__club{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}