<div class="create-user-password" *ngIf="status == 0">
    <mat-card class="create-user-password__card">
        <mat-card-header class="create-user-password__header">
            <mat-card-title>Special Olympics México</mat-card-title>
            <mat-card-subtitle class="create-user-password__subtitle">Establecer contraseña</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="create-user-password__content">
            <p [innerHTML]="alert" class="alert"></p>
            <form [formGroup]="storeUserPasswordForm" class="create-user-password__form">
                <mat-form-field><input matInput type="password" placeholder="Contraseña" formControlName="password"></mat-form-field>
                <mat-form-field><input matInput type="password" placeholder="Confirmar contraseña" formControlName="password_confirmation"></mat-form-field>
                <mat-card-actions align="end">
                    <button type="submit" mat-raised-button color="accent" (click)="storeUserPassword()">Guardar</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<div class="create-user-password" *ngIf="status == 1">
    <h2>Este enlace ya no es válido</h2>
</div>