<app-toolbar [title]="'Crear programa'" [back]="'/programs'"></app-toolbar>
<div class="create-program">
    <p [innerHTML]="alert" class="alert"></p>
    <mat-horizontal-stepper [linear]="true" class="create-program__stepper">
        <mat-step>
            <ng-template matStepLabel>Ingresa información del programa</ng-template>
            <div class="create-program__step">
                <form [formGroup]="storeProgramForm" class="create-program__form">
                    <mat-form-field><input matInput type="text" placeholder="Nombre" formControlName="name"></mat-form-field>
                    <mat-form-field><textarea matInput placeholder="Descripción" formControlName="description"></textarea></mat-form-field>
                    <button class="create-program__button" mat-flat-button color="accent" matStepperNext>Siguiente</button>
                </form>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Selecciona una imagen para el programa</ng-template>
            <div class="create-program__step">
                <div class="create-program__file">
                    <mat-card class="create-program__file-input">
                        <input type="file" (change)="updateImage($event.target.files)">
                    </mat-card>
                    <button class="create-program__button" mat-flat-button color="accent" matStepperNext>Siguiente</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Selecciona un manual para el programa</ng-template>
            <div class="create-program__step">
                <div class="create-program__file">
                    <mat-card class="create-program__file-input">
                        <input type="file" (change)="updateManual($event.target.files)">
                    </mat-card>
                    <button class="create-program__button" mat-flat-button color="accent" (click)="storeProgram(storeProgramForm.value)">Finalizar</button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>