.edit-practice{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 100%;
    height: calc(100% - 64px);
}

.edit-practice__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    width: 50%;
    margin-top: 3vh;
}

.edit-practice__button{
    -ms-flex-item-align: start;
        align-self: flex-start;

    margin-top: 3vh;
}

.edit-practice__session{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.edit-practice__save{
    -ms-flex-item-align: end;
        align-self: flex-end;

    margin-top: 10vh;
}