<div class="forgot-password">
    <mat-card class="forgot-password__card">
        <mat-card-header class="forgot-password__header">
            <mat-card-title>Special Olympics México</mat-card-title>
            <mat-card-subtitle class="forgot-password__subtitle">Recuperar contraseña</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="forgot-password__content">
            <p [innerHTML]="alert" class="alert"></p>
            <form [formGroup]="forgotPasswordForm" class="forgot-password__form">
                <mat-form-field><input matInput type="email" placeholder="E-mail" formControlName="email"></mat-form-field>
                <mat-card-actions align="end">
                    <button type="submit" mat-raised-button color="accent" (click)="forgotPassword(forgotPasswordForm.value)">Recuperar contraseña</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>