<h1 mat-dialog-title>Editar imagen</h1>
<div mat-dialog-content>
    <p [innerHTML]="alert" class="alert edit-program-image__alert"></p>
    <form class="edit-program-image__form">
        <label for="image" class="edit-program-image__label">Imagen</label>
        <input id="image" type="file" (change)="updateImage($event.target.files)">
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button type="submit" mat-button (click)="updateProgramImage()" cdkFocusInitial>Actualizar</button>
</div>